[submodule "vim/pack/plugins/start/vim-tex.vim"]
	path = vim/pack/plugins/start/vim-tex.vim
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "inkscape-figures"]
	path = inkscape-figures
	url = https://github.com/gillescastel/inkscape-figures.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "i3lock-multimonitor"]
	path = i3lock-multimonitor
	url = https://github.com/shikherverma/i3lock-multimonitor.git
