[submodule "vim/pack/plugins/start/vim-tex.vim"]
	path = vim/pack/plugins/start/vim-tex.vim
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "inkscape-figures"]
	path = inkscape-figures
	url = https://github.com/gillescastel/inkscape-figures.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "i3lock-multimonitor"]
	path = i3lock-multimonitor
	url = https://github.com/shikherverma/i3lock-multimonitor.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/firenvim"]
	path = .vim/pack/plugins/start/firenvim
	url = git@github.com:glacambre/firenvim.git
